<side-nav-directive></side-nav-directive>

<div class="main createThoughtSpotDiv text-center">

  <h1 class="createHeader text-center">Create a Thought Spot</h1>

  <form class="authForm" ng-submit="vm.createThoughtSpot()" novalidate>

    <ng-form  name="createThoughtSpotForm">

      <fieldset class="form-group">

        <label for="thoughtSpotName" class="formLabel">Thought Spot name</label>

        <div class="errorMessageDiv" ng-messages="createThoughtSpotForm.thoughtSpotName.$error" ng-show="createThoughtSpotForm.thoughtSpotName.$dirty" role="alert" ng-cloak>
          <div ng-message="required">Please enter a name for your Thought Spot</div>
        </div>

        <input type="text" ng-model="vm.thoughtSpotObj.name" maxlength="25" class="form-control" name="thoughtSpotName" id="thoughtSpotName" placeholder="Thought Spot name" required>

      </fieldset>

      <fieldset class="form-group">

        <label for="thoughtSpotDescription" class="formLabel">Thought Spot Description</label>

        <div class="errorMessageDiv"  ng-messages="createThoughtSpotForm.thoughtSpotDescription.$error" ng-show="createThoughtSpotForm.thoughtSpotDescription.$dirty" role="alert" ng-cloak>
          <div ng-message="required">Please enter a description for your Thought Spot</div>
        </div>

        <input type="text" ng-model="vm.thoughtSpotObj.description" maxlength="144" class="form-control" name="thoughtSpotDescription" id="thoughtSpotDescription" placeholder="Thought Spot description" required>

      </fieldset>

      <fieldset class="form-group">
        <input type="submit" ng-disabled="createThoughtSpotForm.$invalid" class="form-control formSubmit"  value="Create">
      </fieldset>

    </ng-form>
  </form>


</div>
