body {
  font-family: 'Orbitron', sans-serif;
  color: rgb(62,133,196);
}

.formSubmit {
  background-color: rgb(76,136,193) !important;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: none !important;
  font-size: 1.2em !important;

  &:hover {
    background-color: rgb(187,187,187) !important;
    color: rgb(76,136,193) !important;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

}



.formLabel {
  font-size: 1.5em;
  color: white;
  text-shadow: -1px 0 rgb(62,133,196), 0 2px rgb(62,133,196), 2px 0 rgb(62,133,196), 0 -1px rgb(62,133,196);
}

.landingHeaderDiv,.formHeader {
  text-shadow: -1px 0 rgb(187,187,187), 0 1px rgb(187,187,187), 1px 0 rgb(187,187,187), 0 -1px rgb(187,187,187);
  text-align: center;
}

.authButtonDiv {

  button {
    background-color: rgb(76,136,193) !important;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: none;

    &:hover {
      background-color: rgb(187,187,187) !important;
      color: rgb(76,136,193) !important;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

  }

}

.errorMessageDiv {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.errorHeader {
  @extend .errorMessageDiv;
}

.glossy {
  overflow: hidden;
  padding: 0 24px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #154c86;
  background-color: rgb(78,159,230);
  background-clip: padding-box;
  border: 1px solid;
  border-color: #1c65b2 #18589c #18589c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
